name: Build

on:
  workflow_dispatch:
    inputs:
      orchestrator_runid:
        description: 'Orchestrator run ID'
        required: false
        type: string
  push:
    branches: [ main ]

jobs:
  build:
    name: ${{ inputs.orchestrator_runid && format('Build - Orchestrator-{0}', inputs.orchestrator_runid) || 'Build' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Simulate build
      run: |
        echo "This build process for application A"
        sleep 30