name: Build
run-name: ${{ inputs.orchestrator_runid && format('Build-Orch-{0}', inputs.orchestrator_runid) || 'Build' }}

on:
  workflow_dispatch:
    inputs:
      orchestrator_runid:
        description: 'Orchestrator run ID'
        required: false
        type: string
  pull_request:
    types: [opened, synchronize]
    branches: [ main ]

jobs:
  build:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test echo
      run: echo "test"
    - name: Simulate build
      run: |
        ls -l
        cat repoA.txt || true
        echo "This build process for application A"
        sleep 1
